.input-form {
  height: 40vh;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 18px;
}
input {
  font-size: 18px;
  -webkit-appearance: none;
  font-family: $primary-font;
  border-radius: 5px;
  border: 1px solid black;
  background: #efefef;
}

button {
  background-image: url("../images/spinspinspin.gif");
  height: 168.6px;
  width: 300px;
  color: white;
  font-size: 30px;
  border-radius:30px;
  font-family: $primary-font;
  text-shadow: 9px 5px black;
}

button:hover {
  cursor: pointer;
}

input:focus {outline:0;}
button:focus {outline:0;}
