//images
$heroImage: url("../images/headphones.jpg");

//colors


//fonts
$primary-font: raleway;


//static 6 background images
$galleryImages: url("../images/galantis.jpg"), url("../images/ImagineDragonsEvolve.jpg"), url("../images/taku.jpg"), url("../images/2001.jpg"), url("../images/humanz.jpg"), url("../images/MeowTheJewels.jpg");
